.body {
  width: auto;
  height: auto;
  background-color: #e5ce97;
}
.land {
  margin: auto;
  width: 1496px;
  height: 3777px;
  background-color: #5b0017;
  background-image: url("img/Rectangle\ \(5\).png");
  background-repeat: no-repeat;
  background-position-x: 73px;
  background-size: 710px 883px;
}
/*header*/
.nav {
  display: flex;

  justify-content: space-between;
  width: 1494px;
  height: 199px;
}
.nav img {
  width: 100.72px;
  height: 154.07px;
  margin-top: 45px;
  margin-left: 73px;
}
.nav-link ul {
  display: flex;
  width: 448px;
  height: 27px;
  margin-top: 59.5px;
  left: 510px;
  gap: 85px;
  box-shadow: 0px 4px 4px 0px #00000040;
  list-style-type: none;
}
.nav-link a {
  font-family: Abel, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.nav .button input {
  margin-top: 35px;
  margin-right: 73px;
}
/*header*/
/*landing page*/
.landing {
  display: flex;
  width: auto;
  height: 620px;
  flex-direction: row;
}
.landing .container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 700px;
}
.landing .container p:nth-of-type(1) {
  width: 945px;
  height: 255px;
  margin-top: 50px;
  margin-left: 73px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #5b001783;
  font-family: Abel, sans-serif;
  font-size: 120px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
}
.landing .container p:nth-of-type(2) {
  width: 454px;
  height: 56px;
  margin-top: 0px;
  margin-left: 73px;
  font-family: Inter, sans-serif;
  font-size: 23px;
  font-weight: 300 lighter;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.container .button {
  margin-left: 73px;
}

.container .vector2 {
  margin-top: 25px;
  margin-left: 77px;
}
.container .vector2 > img {
  width: 89px;
  height: 89px;
}
.landing .Menu {
  width: auto;
  height: auto;
  margin: 30px 0 0 660px;
}
.landing .Menu > img {
  width: 763px;
  height: 534px;
}
.landing .Menu > img {
  position: relative;
  z-index: 1;
}
.landing .container {
  content: "";
  position: absolute;
  z-index: 2;
}
.vector1 {
  width: 70px;
  height: 54px;
}
.landing .vector1 img {
  width: 44px;
  height: 52px;
}

.landing {
  position: relative;
  z-index: 1;
}
.landing .vector1 > img {
  position: absolute;
  right: 48px;
  top: 10px;
  z-index: 2;
}

/*2snd page*/
.container2 {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  background-image: url("/img/Rectangle\ \(5\).png");
  background-repeat: no-repeat;
  background-size: 622px 881px;
  background-position: right;
  background-position-x: 950px;
  height: 950px;
  padding: 20px 0px;
}
.frame img {
  width: 404.84px;
  height: 621.05px;
  margin-top: 140px;
  margin-left: 82px;
}

.frame img:nth-of-type(2) {
  width: 132px;
  height: 116.11px;
}
.frame {
  position: relative;
}
.frame img:nth-of-type(2) {
  position: absolute;
  right: 270px;
  top: 510px;
}
.card {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.text1 {
  width: 893px;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 0px;
}
.text1 h2 {
  font-family: Abel, sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0px;
}
.text2 {
  width: 498px;
  margin-left: 70px;
}
.text2 h6 {
  font-family: Inter, sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 15px;
}

.card .button {
  margin-left: 70px;
}

.row {
  padding-top: 46px;
  margin-left: 58px;
}
.column {
  float: left;
  width: 20%;
  padding: 15px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.vector3 img {
  width: 71px;
  height: 71px;
}
.card {
  position: relative;
}
.vector3 {
  position: absolute;
  right: 20px;
  top: 650px;
}

hr {
  margin-left: 73px;
  width: 420px;
  border: 2px solid #cc9d2f;
}

/*p3rd page*/
.container3 {
  display: flex;
  width: 1330.89px;
  height: 555.97px;
  margin: auto;
  padding: 20px 0px;
}
.container3 {
  position: relative;
}
img:nth-of-type(2) {
  position: absolute;
  right: 1293px;
  bottom: 40px;
}
.bg {
  background-color: #cc9d2f;
  width: 561.02px;
  height: 555.69px;
}
.textbg {
  width: 363px;
  height: 200px;
  color: #243054e8;
  margin-top: 300px;
  margin-left: 300px;
  margin: auto;
  text-align: left;
  letter-spacing: 0px;
}
.textbg p span {
  font-family: Abel, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 77px;
  margin-bottom: 0%;
}
.textbg p {
  margin-top: 80px;
  font-family: Inter, sans-serif;
  font-size: 21px;
  font-weight: 400, bold;
  line-height: 40px;
  color: #243054;
}
.person {
  display: flex;
  flex-direction: row;
  gap: 200px;
  width: 363.71px;
  height: 58.26px;
  margin: auto;
  margin-top: 120px;
}
.textper {
  display: flex;
  flex-direction: column;
  width: 363.71px;
  height: 58.26px;
  font-family: Poppins, sans-serif;
  text-align: left;
  letter-spacing: 0px;
}
.name h4 {
  font-size: 13px;
  font-weight: 500, bold;
  line-height: 20px;
  color: #243054ef;
  margin-bottom: 0px;
}
.local h6 {
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  color: #243054c2;
  margin-top: 0px;
}
.person img {
  margin: auto;
  width: 39.95px;
  height: 39.95px;
}
.liner {
  width: 364px;
  margin: auto;
  margin-top: 0px;
}
.streshline {
  position: relative;
}
.linewhite {
  position: absolute;
  right: 870px;
}
.video {
  width: 769.87px;
  height: 555.97px;
}
.container4 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-image: url("/image/image\ 4\ \(0\).png");
  background-size: cover;
  width: 1498px;
  height: 869px;
  background-image: -o-linear-gradient
    (180deg, rgba(91, 0, 23, 0.253) 0%, #5b001711 93.23%);
  background-blend-mode: overlay;
  background-color: #5b00171f;
  padding-top: 20px;
}
.topangle {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 69.38px;
}
.topangle img {
  opacity: 0.4;
  background-blend-mode: overlay;
}
.vector11 {
  display: inline-block;
  margin: 30px auto;
}
.vector11 img {
  margin-top: 40px;
  width: 88.42px;
  height: 104px;
}
.text3 {
  width: 948.79px;
  height: 171px;
  margin: 0px auto;
}
.text3 p {
  font-family: Abel, sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
}
.container4.button {
  width: 177.25px;
  height: 69.62px;
  margin-top: 30px;
}
.container4 .button input {
  margin-top: 40px;
  margin-left: 660px;
}
.bottomangle {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 70px;
  margin-top: 235px;
  margin-left: 415px;
}
.bottomangle img {
  opacity: 0.1;
  background-blend-mode: overlay;
  color: #ffffffec;
}
/*footer*/
.footer {
  background: #cc9d2f;
  width: 1496px;
  height: 339px;
}
.footer.logo {
  width: auto;
  height: 57px;
}
.logo img {
  width: 176.11px;
  height: 56.4px;
  margin-top: 54px;
  margin-left: 660.08px;
}

.Menu ul {
  display: flex;
  margin-left: -250px;
  width: 650px;
  height: 23px;
  margin-top: 59.5px;
  gap: 50px;
  list-style-type: none;
  margin-bottom: 60px;
  margin: 59.5px auto;
}
.Menu a {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.44px;
  letter-spacing: 0em;
  text-align: left;
  color: #4b0114;
  text-decoration: none;
  width: 51px;
  height: 23px;
  margin: auto;
}
.Menu a:hover {
  background-color: #4b0114;
  color: #cc9d2f;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #4b0114;
  border-radius: 8px;
  opacity: 0.9;
  width: 800px;
  padding: 2px;
}

.footer hr {
  width: auto;
  top: 1626px;
  margin-left: 0px;
  border: 1px solid #745a1e6e;
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 670px;
  height: 23px;
  margin-top: 24px;
  margin-left: 77px;
  padding: 0px;
}
.bottom p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #243054;
  width: 207px;
  height: 23px;
  margin-left: 0px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 122px;
  height: 13.51px;
  align-items: end;
}
.bottom .social a:hover,
.a:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
